<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NFL Weekly Picks</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="season-weeks">
                        <RadzenIcon Icon="event"/> View Weeks
                    </NavLink>
                </div>
            </Authorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="logout">
                        <RadzenIcon Icon="logout"/> Logout
                    </NavLink>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <RadzenIcon Icon="login"/> Login/Register
                    </NavLink>
                </div>
            </NotAuthorized>
        </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    </nav>
    <Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
        <Authorized>
            <div class="px-3" style="display: flex; flex-direction: column; justify-content: space-between">
                <span style="display: inline-block; margin: 10px 10px 0 0; padding: 5px 10px; color: white">
                    Welcome @context.User.Identity.Name
                </span>
            </div>
        </Authorized>
    </Microsoft.AspNetCore.Components.Authorization.AuthorizeView>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}