@page "/forgot-password"
@using NFLWeeklyPicksUI.Models.Authentication
<h3>Forgot Password</h3>

@if (_showError)
{
    <div class="alert alert-danger" role="alert">
        Forgot password failed.
    </div>
}

@if (_showSuccess)
{
    <div class="alert alert-success" role="alert">
        The link has been sent, please check your email to reset your password.
    </div>
}

<RadzenTemplateForm Data="_forgotPasswordModel" Submit="@(async (ForgotPasswordModel args) => { await Submit(args); })">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4 align-items-center d-flex">
                <RadzenLabel Text="Email"/>
            </div>
            <div class="col-md-8">
                <RadzenPassword @bind-Value="@_forgotPasswordModel.Email" style="width: 100%;" Name="Email"/>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 d-flex align-items-start justify-content-center" style="margin-top: 16px;">
            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save"/>
        </div>
    </div>
</RadzenTemplateForm>