@page "/forgot-password"
@using NFLWeeklyPicksUI.Models.Authentication
<h3>Reset Password</h3>

@if (_showError)
{
    <div class="alert alert-danger" role="alert">
        Reset password failed.
    </div>
}

@if (_showSuccess)
{
    <div class="alert alert-success" role="alert">
        The password was reset. You can <a href="/login">log in</a> now.
    </div>
}


@if (!_showSuccess)
{
    <RadzenTemplateForm Data="@_resetPasswordModel" Submit="@(async (ResetPasswordModel args) => { await Submit(args); })">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Password"/>
                </div>
                <div class="col-md-8">
                    <RadzenPassword @bind-Value=@_resetPasswordModel.Password style="width: 100%;" Name="Password"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 align-items-center d-flex">
                    <RadzenLabel Text="Confirm Password"/>
                </div>
                <div class="col-md-8">
                    <RadzenPassword @bind-Value=@_resetPasswordModel.ConfirmationPassword style="width: 100%;" Name="ConfirmPassword"/>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save"/>
            </div>
        </div>
    </RadzenTemplateForm>
}