@page "/season-weeks"

<h3>@($"{_currentSeason} Weeks")</h3>
@if (_seasonWeeks == null)
{
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-4">Loading weeks...</h4>
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
        </RadzenCard>
    </div>
}
else
{
    <div class="col-xl-6 p-3">
        <RadzenCard>
            <RadzenAccordion Multiple="true">
                <Items>
                    @foreach (var week in _seasonWeeks)
                    {
                        <SeasonWeeksAccordionItem SeasonWeek="week"/>
                    }
                </Items>
            </RadzenAccordion>
        </RadzenCard>
    </div>
}