@using NFLWeeklyPicksUI.Models
<RadzenAccordionItem Text="@AccordionText" Icon="date_range">
    <div class="row-cols-lg-3">
        <RadzenButton Size="ButtonSize.Small" Icon="view_list" style="margin-bottom: 10px" Text="View Picks" Click="@OpenWeekPicksWithScore" ButtonStyle="ButtonStyle.Info"/>
        <RadzenButton Size="ButtonSize.Small" Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Pick" Click="@AddNewPick" Visible="@AddPickVisible"/>
    </div>
    <RadzenDataGrid Data="SeasonWeek.UserPicks" TItem="SeasonWeekUserPickViewModel">
        <Columns>
            <RadzenDataGridColumn Title="User Pick Name" TItem="SeasonWeekUserPickViewModel" Property="UserPickDescription"/>
            <RadzenDataGridColumn TItem="SeasonWeekUserPickViewModel">
                <Template Context="seasonWeekUserPickViewModel">
                    <RadzenButton Disabled="SeasonWeek.IsDisabled" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Success"
                                  Click="() => OpenWeekPicks(seasonWeekUserPickViewModel)" Text="Edit Pick"/>
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
</RadzenAccordionItem>