@page "/picks/scores/{Season:int}/{Week:int}"

<h3>@_headerText</h3>
<div class="alert alert-warning" role="alert">
    Once your pick has been paid for, you will be able to view it here.
</div>
@if (_isLoading)
{
    <div class="col-md-4 p-3">
        <RadzenCard>
            <h4 class="mb-4">Loading picks...</h4>
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate"/>
        </RadzenCard>
    </div>
}
else
{
    <div class="col-xl-6 p-3">
        <RadzenCard>
            <RadzenAccordion Multiple="true">
                <Items>
                    @foreach (var game in _gamesWithScores.Games)
                    {
                        <GameAccordionItem GameWithScore=@game/>
                    }
                </Items>
            </RadzenAccordion>
        </RadzenCard>
    </div>
    <RecordAccordionItem Season="Season" Week="Week"/>
}